<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
    <title>Create Match</title>
    <script>
        function toggleMenu() {
            var menu = document.getElementById('menu-list');
            if (menu.style.display === 'block') {
                menu.style.display = 'none';
            } else {
                menu.style.display = 'block';
            }
        }
    </script>
</head>
<body>
    <div class="create_m-header">
        <h1 class="create_m-h1">CREATE MATCH</h1>
        <button id="menu-button" onclick="toggleMenu()">Menu</button>
        <ul id="menu-list">
            <li><a href="{{ url_for('main.home') }}">Home</a></li>
            <li><a href="{{ url_for('main.eliminate') }}">Eliminate</a></li>
            <li><a href="{{ url_for('main.settings') }}">Settings</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        </ul>
    </div>
    <div class="create_m">
        <form method="POST" action="{{ url_for('main.create_m', tournament_id=tournament.id) }}">
            {{ form.hidden_tag() }}
            
            <div class="create_m-form">
                {% for player in tournament_players %}
                <div class="match-container">
                    <label class="create_m-label">Player</label>
                    <br>
                    <br>
                    <div>
                        <label class="match-data">{{ player.player_name }}</label>
                        <br>
                        <br>
                        <label class="create_m-label">Select Deck</label>
                        <br>
                        <br>
                        <select class="selectdecks" name="selectdecks">
                            {% for deck in tournament_decks %}
                                <option value="{{ deck.id }}">{{ deck.deck_name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <br>
                        <input type="hidden" name="players" value="{{player.id}}">
                        <div class="checkbox">
                            <input type="checkbox" name="winner" value="{{player.id}}">
                            <label class="datalabel">Winner</label>
                        </div>   
                    </div>
                </div>
                {% endfor %}

            </div>
            <br>
            <button type="submit" class="create_m-button">Create</button>
        </form>
    </div>
</body>
<footer>
</footer>
</html>