<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
    <title>Eliminate</title>
    <script>
        function toggleMenu() {
            var menu = document.getElementById('menu-list');
            if (menu.style.display === 'block') {
                menu.style.display = 'none';
            } else {
                menu.style.display = 'block';
            }
        }
    </script>
</head>
<body>
    <div class="eliminate-header">
        <h1 class="eliminate-h1">ELIMINATE</h1>
        <button id="menu-button" onclick="toggleMenu()">Menu</button>
        <ul id="menu-list">
            <li><a href="{{ url_for('main.home') }}">Home</a></li>
            <li><a href="{{ url_for('main.eliminate') }}">Eliminate</a></li>
            <li><a href="{{ url_for('main.settings') }}">Settings</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        </ul>
    </div>
    <div class="eliminate">
        <form method="POST" action="{{ url_for('main.eliminate') }}">
            {{ form.hidden_tag() }}
            
            <div class="eliminate-form">
                <label class="eliminate-label">Leagues</label>
                {% for league in leagues %}
                    <div class="checkbox">
                        <input type="checkbox" name="leagues" value="{{ league.id }}">
                        <label class="datalabel">{{ league.league_name }}</label>
                    </div>
                {% endfor %}
                {% for tournament in tournaments %}
                    <div class="checkbox">
                        <input type="checkbox" name="tournaments" value="{{ tournament.id }}">
                        <label class="datalabel">{{ tournament.tournament_name }}</label>
                    </div>
                {% endfor %}
            <br>
            <button type="submit" class="eliminate-button">Eliminate</button>
        </form>
    </div>
</body>
<footer>
</footer>
</html>